.feature {
    &-header {
        max-width: 918px;
        padding: 0 15px;
        margin: 0 auto 100px;
        text-align: center;
    }

    &-heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 160%;
        color: $primary-color;
        margin-bottom: 51px;
        span {
            color: $secondary-color;
        }
    }

    &-dsc {
        font-size: 22px;
        line-height: 180%;
        letter-spacing: 0.02em;
    }
    &-margin {
        margin-bottom: 20px;
    }

    &-section:first-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1610px;
        padding: 0 15px;
        margin: 0 auto 160px;
        gap: 0 126px;

        .feature-content {
            width: 100%;
            max-width: 542px;
        }

        .feature-list {
            list-style: none;
        }
        .feature-item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            gap: 0 42px;
        }

        .feature-icon {
            width: 60px;
            height: 60px;
            border-radius: 100rem;
            background: #fbfbfb;
            box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    }

    &-section:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 236px;
        max-width: 1471px;
        padding: 0 15px;
        margin: 0 auto 160px;

        .feature-content-teacher {
            max-width: 568px;
        }
    }

    &-section:nth-of-type(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1491px;
        padding: 0 15px;
        margin: 0 auto 160px;
        gap: 0 248px;

        .feature-quizz-content {
            width: 100%;
            max-width: 596px;
        }
    }

    &-section:nth-of-type(4) {
        max-width: 1575px;
        padding: 0 15px;
        margin: 0 auto 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 90px;
        .feature-management-content {
            max-width: 645px;
            width: 100%;
        }
    }

    &-section:nth-of-type(5) {
        max-width: 1516px;
        padding: 0 15px;
        margin: 0 auto 150px;
        gap: 0 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .feature-discussion-content {
            max-width: 540px;
            width: 100%;
        }
    }
    &-seemore {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-btn {
        font-size: 24px;
        line-height: 180%;
        letter-spacing: 0.02em;
        padding: 18px 38px;       
        margin-bottom: 160px;
    }
}
