html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
area,
select,
button {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input {
  line-height: normal;
}

body {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  padding: 13px 50px;
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: none;
  border-radius: 100rem;
}

.btn--primary {
  color: #fff;
  background-color: #f48c06;
}

.btn--white {
  background-color: #fff;
  color: #6c6c6c;
}

.btn--transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffff;
}

.btn--blue {
  background-color: rgba(35, 189, 238, 0.9);
  color: #fff;
}

.global-heading {
  color: #2f327d;
  font-weight: bold;
  font-size: 36px;
  line-height: 180%;
  margin-bottom: 20px;
}

.global-heading span {
  color: #f48c06;
}

.global-text {
  font-size: 24px;
  line-height: 180%;
  color: #696984;
}

.bg-purple {
  background-color: #5b72ee;
}

.bg-orange {
  background-color: #f48c06;
}

.bg-blue {
  background-color: #29b9e7;
}

.header {
  margin-bottom: 100px;
  background-color: #fff2e1;
  -webkit-clip-path: ellipse(150% 100% at top);
          clip-path: ellipse(150% 100% at top);
  overflow: hidden;
}

.header-container {
  max-width: 1725px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header-top {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
  gap: 0 34px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 62px;
}

.header-heading {
  font-size: 54px;
  font-weight: 700;
  line-height: calc(81 / 54);
  margin-bottom: 34px;
  color: #f48c06;
}

.header-heading span {
  color: #2f327d;
}

.header-dsc {
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
  line-height: calc(38 / 24);
  margin-bottom: 52px;
  color: #464646;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 40px;
}

.header-actions .btn--primary {
  padding: 22px 38px;
  font-size: 24px;
  line-height: calc(36 / 24);
}

.nav-list {
  margin-left: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 80px;
}

.nav-link {
  color: inherit;
}

.watch {
  gap: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: calc(36 / 24);
}

.watch-icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
          box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
}

.company {
  margin-bottom: 163px;
}

.company-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: calc(45 / 28);
  color: #696984;
  margin-bottom: 32px;
}

.company-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 75px;
  max-width: 1367px;
  padding: 0 15px;
  margin: 0 auto;
}

.company-logo img {
  margin: 0 auto;
}

.introduce-header {
  text-align: center;
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto 103px;
}

.introduce-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto 158px;
}

.introduce-item {
  padding: 0 54px 50px;
  background: #ffff;
  -webkit-box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
          box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.introduce-icon {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduce-title {
  margin-top: 122px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #2f327d;
  margin-bottom: 24px;
}

.introduce-dsc {
  font-size: 20px;
  line-height: 180%;
  color: #696984;
}

.about-header {
  max-width: 1130px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto 80px;
}

.about-main {
  max-width: 1330px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 100px;
  margin: 0 auto 160px;
}

.about-item {
  position: relative;
}

.about-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(23, 27, 65, 0.2);
  border-radius: 20px;
}

.about-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(48 / 32);
  color: #ffffff;
  max-width: 292px;
  white-space: nowrap;
  margin-bottom: 17px;
}

.about-btn {
  font-weight: 500;
  font-size: 22px;
  line-height: calc(33 / 22);
  padding: 24px 38px;
  white-space: nowrap;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.about-btn:hover {
  background: rgba(35, 189, 238, 0.9);
}

.youcan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1577px;
  padding: 0 15px;
  margin: 0 auto 160px;
  gap: 0 67px;
}

.youcan-content {
  position: relative;
  max-width: 730px;
  padding-left: 25px;
}

.youcan-content::before {
  position: absolute;
  top: -13px;
  left: 0;
  content: "";
  display: block;
  width: 73px;
  height: 73px;
  border-radius: 100rem;
  background-color: #f4b767;
  z-index: -1;
}

.youcan-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  color: #2f327d;
  margin-bottom: 30px;
}

.youcan-title span {
  color: #f48c06;
}

.youcan-dsc {
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
  margin-bottom: 30px;
  position: relative;
}

.youcan-dsc::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  background-color: #f4b767;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.youcan-link {
  font-size: 22px;
  line-height: 180%;
  color: #696984;
  text-decoration: underline;
}

.youcan-image {
  max-width: 705px;
  position: relative;
}

.youcan-image::before {
  content: "";
  width: 138px;
  height: 138px;
  position: absolute;
  top: -20px;
  left: -20px;
  display: block;
  background-color: #29b9e7;
  border-radius: 20px;
  z-index: -1;
}

.youcan-image::after {
  content: "";
  width: 138px;
  height: 138px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  display: block;
  background-color: #F3AC50;
  border-radius: 20px;
  z-index: -1;
}

.youcan-icon {
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */